*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:linear-gradient(135deg,#1d4350,#a43931);
color:white;
}

.eco-container{
padding:20px;
min-height:100vh;
}

.eco-header{
text-align:center;
margin-bottom:25px;
}

.eco-header h2{
font-size:26px;
}

.eco-header p{
opacity:0.8;
font-size:13px;
}

.eco-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:16px;
}

.eco-card{
background:rgba(255,255,255,0.12);
backdrop-filter:blur(10px);
padding:18px;
border-radius:16px;
text-align:center;
transition:0.3s;
}

.eco-card:hover{
transform:translateY(-4px);
}

.eco-card span{
font-size:32px;
margin-bottom:8px;
display:block;
}

.highlight{
background:linear-gradient(135deg,#fbc02d,#ffa000);
color:#222;
}

.green{color:#66bb6a}
.blue{color:#42a5f5}
.orange{color:#ffa726}
.purple{color:#ba68c8}
.cyan{color:#4dd0e1}
.brown{color:#a1887f}